body {
    margin: 0;
    background-color: #c4e1e1;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;

}

.create-process-panel-container {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 0;
    filter: drop-shadow(0px 0px 0px #00000033);
    position: absolute;
    right: 5%;
    top: 76px;
    padding: 30px;
    display: none;
    z-index: 99;
}



li {
    list-style-type: none;
    display: inline-block;
    padding: 2%;
    cursor: pointer;
    font-size: 14px;
    color: #032f8e;
    margin: 0px !important;
}

nav {
    display: inline-block;
    width: 43%;
    margin-left: 254px;
    position: relative;
}

.nav a {
    color: #6b7280;
    text-decoration: auto;
}

a:hover {
    color: #5A67D8;
}

ul {
    padding: 0;
} 



input, select {
    margin: 20px 0px;
    display: block;
    width: 50%;
    height: 25px;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid #03a9f4;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    color: slategrey;
}

.hideinmenu{
    display: none!important;
}


select#typeProcess {
    height: 45px;
    width: 220px;
}

input:focus-visible, select:focus-visible {
    outline: none;
    border-bottom: 2px solid #03a9f4;
}

select#menuoverviewcontrol{
    width: 160px;
    height: 44px;
    position: absolute;
    right: 20px;
    top: -10px;
}

input, select {
    margin: 20px 0px;
    display: block;
    width: 375px;
    height: 25px;
    padding: 10px;
    border: 0px;
    border-bottom: 2px solid #cbd0d2;
    font-size: 16px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    color: #969da4;
}

h6,li {
    font-size: 16px;
    margin: 0;
    color: #3d5051;
    margin: 10px;
    margin-bottom: 20px;
}


input.procInfoField {
    display: inline;
    width: 172px;
    margin-right: 5px;
}

#generateProcess {
    top: 460px;
    background-color: #e91e63;
    width: 170px;
    height: 60px;
}

.processImg{
    width:50px;
    display: block;
}

.processImg2{
    width:30px;
    display: block;
}


/*HEADER CODE*/
img#logo {
    width: 60px;
    margin: 10px;
    position: absolute;
    top: -5%;
    left: 2%;
}

select#algo {
    position: absolute;
    top: 1%;
    left: 9%;
    width: 90px;
    height: 42px;
}


#mainNav{
    display: inline-block;
    width: 430px;
    position: absolute;
    top: 20px;
    margin: 0px;

}

button, .gproc {
    padding: 15px;
    border: 0px;
    color: white;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "NotoSans", sans-serif;
    background-color: #03a9f4;
    cursor: pointer;
    position: absolute;
    right: 5%;
    top: 17%;
}

button#generateJob:hover, button#createJob:hover, img#Startsim:hover{    
    filter: drop-shadow(0px 2px 3px #00000033);
}

header {
    grid-area: header;
    background-color: white;
    width: 100%;
    height: 80px;
    filter: drop-shadow(2px 4px 6px #00000022);
    z-index: 1;
}


main{
    grid-area: main;
    height: 653px;
    margin-left: 30px;
    z-index: -1;
}

#wires{
    position: absolute;
    display: block;
    width: 72%;
    height: 651px;
    z-index: -1;
}

hr.bhline, hr.rhline, hr.rshline, hr.bqhline,hr.chline, hr.shline{
    height: 5px;
    background-color: #03a9f4;
    border: none;
    width: 30px;
    display: inline;
    position: absolute;
    left: 75px;
}

hr.bnode, hr.rnode, hr.rsnode, hr.bqnode, hr.cnode, hr.snode  {
    width: 10px !important;
    left: 70px;
    height: 10px;
    border-radius: 0px 10px 10px 0px;
    background-color: #03a9f4;
    display: inline;
    position: absolute;
    border: none;
}

hr.bvline, hr.rvline, hr.rsvline, hr.bqvline,hr.cvline, hr.svline{
    width: 5px;
    left: 100px;
    height: 472px;
    border-radius: 10px 10px 10px 10px;
    background-color: #03a9f4;
    display: inline;
    position: absolute;
    border: none;
    top: 53px;
}

hr.rvline {
    top: 151px;
    height: 15px !important;
    left: 200px;
}

hr.svline {
    top: 526px;
    left: 216px;
    height: 29px;
}

/* A.J */
hr.cvline.cvline0 {
    top: 24px;
    left: 276px;
    height: 132px;
}

hr.cvline1 {
    top: 151px;
    left: 230px;
    height: 104px;
}

hr.cvline2 {
    top: 185px;
    left: 965px;
    height: 345px;
}

hr.cvline3 {
    top: 20px;
    left: 965px;
    height: 75px;
}

hr.cvline4 {
    top: 344px;
    left: 893px;
    height: 101px;
}

hr.chline0 {
    top: 20px;
    left: 277px;
    width: 692px;
}


hr.chline1 {
    top: 342px;
    left: 816px;
    width: 81px;
}

hr.chline2 {
    top: 439px;
    left: 816px;
    width: 81px;
}

/* A.J */



hr.bnode.bnode6 {
    top: 517px;
}

hr.bnode.bnode5{
    top: 429px;
}

hr.bnode.bnode4{
    top: 349px;
}

hr.bnode.bnode3 {
    top: 267px;
}

hr.bnode.bnode2 {
    top: 187px;
}

hr.bnode.bnode1 {
    top: 102px;
}


hr.bhline.bhline6 {
    top: 520px;
}

hr.bhline.bhline5{
    top: 432px;
}

hr.bhline.bhline4{
    top: 352px;
}

hr.bhline.bhline3 {
    top: 270px;
}

hr.bhline.bhline2 {
    top: 190px;
}

hr.bhline.bhline1 {
    top: 105px;
}



hr.bhline.bhline7 {
    top: 50px;
    left: 100px;
    width: 65px;
}


hr.bvline.bvline2 {
    left: 173px;
    height: 103px;
}


hr.rhline.rhline2 {
    top: 151px;
    left: 173px;
    width: 752px;
}


.rneven{    
    top: 161px;
    transform: rotateZ(270deg);
}

hr.rnode12 {
    left: 665px;
}
hr.rnode10 {
    left: 590px;
}
hr.rnode8 {
    left: 515px;
}
hr.rnode6 {
    left: 440px;
}
hr.rnode4 {
    left: 365px;
}
hr.rnode2 {
    left: 738px;
}

.rnodd{

    transform: rotateZ(90deg);
}

hr.rnode11 {
    top: 161px;
    left: 665px;
}
hr.rnode12 {
    top: 161px;
    left: 665px;
}


hr.rvline.rvline12 {
    left: 668px;
}
hr.rvline.rvline10 {
    left: 593px;
}
hr.rvline.rvline8 {
    left: 518px;
}
hr.rvline.rvline6 {
    left: 443px;
}
hr.rvline.rvline4 {
    left: 368px;
}
hr.rvline.rvline2 {
    left: 741px;
}




hr.rvline.rvline11 {
    top: 140px;
    left: 640px;
}

hr.rvline.rvline9 {
    top: 140px;
    left: 570px;
}

hr.rvline.rvline7 {
    top: 140px;
    left: 495px;
}

hr.rvline.rvline5 {
    top: 140px;
    left: 420px;
}

hr.rvline.rvline3 {
    top: 140px;
    left: 345px;
}

hr.rvline.rvline1 {
    top: 140px;
    left: 717px;
}

hr.rnode.rnode11.rnodd {
    top: 136px;
    left: 638px;
}
hr.rnode.rnode9.rnodd {
    top: 136px;
    left: 568px;
}
hr.rnode.rnode7.rnodd {
    top: 136px;
    left: 492px;
}
hr.rnode.rnode5.rnodd {
    top: 136px;
    left: 418px;
}
hr.rnode.rnode3.rnodd {
    top: 136px;
    left: 343px;
}
hr.rnode.rnode1.rnodd {
    top: 136px;
    left: 715px;
}


menu{
    grid-area: menu;
    height: 717px;
    background-color: white;
    margin: 0;
    padding: 30px;
    z-index: 2;
    border-left: 1px solid #00000022;
    overflow-y: auto;
    padding-top: 6px;
}

footer{
    grid-area: footer;
    height: 753px;
    background-color: white;
}

.container{
    display:grid;
    grid-template-areas: 'header header header header header header header header header header header menu' 'main main main main main main main main main main main menu' 'footer footer footer footer footer footer footer footer footer footer footer footer';
}


div#steady{
    width: 300px;
}

div#html_console {
    position: relative;
    overflow-y: auto;
    height: 100px;
    width: 100%;
    left: 10px;
    border-bottom: 1px solid #00000022;
    margin-bottom: 20px;
}



/*READY QUEUE*/

p{
    font-size: 11px;
}

div#html_console::-webkit-scrollbar {
    width: 5px;               /* width of the entire scrollbar */
  }
  
  div#html_console::-webkit-scrollbar-track {
    background: rgb(255, 255, 255);        /* color of the tracking area */
  }
  
  div#html_console::-webkit-scrollbar-thumb {
    background-color: rgb(94, 158, 255);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }


#blockQueue{
    top: 76%;
}

.temp{    
    margin: 0px!important;
    width: 400px;
    padding: 35px 30px!important;
}

.queue{
    height: 78px!important;
    width: 470px!important;
    margin-left: 30px;
}

#readyQueue, .queue{
    width: auto;
    height: 185px;
    position: absolute;
    top: 133px;
    left: 300px;
    width: 442px;
    padding: 20px;
}

div#readyQueue {
    height: 201px !important;
}

.proccessContainer, .suspendedContainer, .blockedContainer{
    display: inline-block;
    background-color: #ffffff;
    margin: 5px;
    margin-bottom: 20px;
    width: 50px;
    height: 70px;
    padding: 5px;
    filter: drop-shadow(0px 0px 4px #00000022);
}

.dispatcher, .dispatcher_processor {
    width: 120px;
    position: absolute;
    top: 180px;
    left: 765px;
    margin-left: 30px;
}

.dispatcher_processor, #processorlabel{
    top: 175px;
    left: 900px;
}

#processorlabel {
    position: absolute;
    top: 276px;
    left: 950px;
    background-color: #c4e1e1;
}

.dispatcher-active{
    width: 50px;
    position: absolute;
    top: 185px;
    left: 845px;
    margin-left: 30px;
}

img.dispatcher-active.longer {
    top: 85px;
    left: 200px;
}

img.dispatcher-active.midd {
    top: 320px;
    left: 255px;
}

img.dispatcher-active.mid {
    top: 324px;
    left: 257px;
}


/*BATCH QUEUE*/

#batchJobs{
    width: auto;
    height: 490px;
    position: absolute;
    width: 70px;
    padding: 75px 10px;
}

.jobContainer{
    display: inline-block;
    background-color: #ffffff;
    width: 50px;
    height: 70px;
    padding: 5px;
    margin-bottom: 5px;
    filter: drop-shadow(0px 0px 4px #00000022);
}

img#longDispatcher {
    top: 90px;
    left: 130px;
    width: 100px;
}

img#midDispatcher {
    top: 325px;
    left: 185px;
    width: 100px;
}


/*Overview*/
.tableFixHead {
    height: auto;
    margin-bottom: 20px;
  }
  .tableFixHead thead th td{
    border: 1px solid #dff1ff;
    position: sticky;
    top: 0;
  }
  table {
    width: 95%;
    border: 1px solid #dff1ff;
    border-collapse: collapse;
    filter: drop-shadow(0px 0px 4px #00000033);
    margin: 10px;
  }
  th, td {
    padding: 2px 5px;
  }
  
  th {
    background: #ffffff;
    color: #002743;
    font-weight: 400;
    text-align: left;
}

td{
    font-size: 14px;
}

tbody{
    overflow-y: auto;
}


tr:nth-child(even) {
    background-color: #ffffff;
}

tr:nth-child(odd) {
    background-color: #f6fdff;
}

p.index{
    display: flex;
    position: absolute;
    top: -37px;
    left: -20px;
    padding: 7px;
    font-size: 10px;
    width: 5px;
    height: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: #03a9f4;
    color: white;
}

p.index.ID11 {
    top: 200px;
    z-index: 2;
    left: 450px;
}
p.index.ID10 {
    top: 200px;
    z-index: 2;
    left: 375px;
}
p.index.ID9 {
    top: 200px;
    z-index: 2;
    left: 300px;
}
p.index.ID8 {
    top: 200px;
    z-index: 2;
    left: 225px;
}
p.index.ID7 {
    top: 200px;
    z-index: 2;
    left: 150px;
}
p.index.ID6 {
    top: 200px;
    z-index: 2;
    left: 75px;
}
p.index.ID5 {
    top: 0px;
    z-index: 2;
    left: 450px;
}
p.index.ID4 {
    top: 0px;
    z-index: 2;
    left: 375px;
}
p.index.ID3 {
    top: 0px;
    z-index: 2;
    left: 300px;
}
p.index.ID2 {
    top: 0px;
    z-index: 2;
    left: 225px;
}
p.index.ID1 {
    top: 0px;
    z-index: 2;
    left: 150px;
}
p.index.ID0 {
    top: 0px;
    z-index: 2;
    left: 75px;
}

p.index.bID0 {
    top: 58px;
    left: 5px;
    z-index: 2;
}

p.index.bID1 {
    top: 148px;
    left: 5px;
    z-index: 2;
}

p.index.bID2 {
    top: 238px;
    left: 5px;
    z-index: 2;
}

p.index.bID3 {
    top: 328px;
    left: 5px;
    z-index: 2;
}

p.index.bID4 {
    top: 416px;
    left: 5px;
    z-index: 2;
}

p.index.bID5 {
    top: 505px;
    left: 5px;
    z-index: 2;
}



div#readySusQueue>.suspendedContainer, div#blockQueue>.blockedContainer {
    width: 30px;
    height: 50px;
    margin: 0px;
}

#readySusQueue {
    top: 390px;
    width: 649px!important;
}

#blockQueue {
    top: 490px;
    width: 649px!important;
}


hr.rshline{
    top: 285px;
    left: 245px;
    width: 582px;
}

hr.bqhline{
    top: 494px;
    left: 336px;
    width: 630px;
}


hr.rsvline {
    top: 287px;
    left: 333px;
    height: 20px;
}


hr.bqvline {
    top: 473px;
    left: 333px;
    height: 25px;
}

hr.rsnode.rsnode0, hr.rsnode.rsnode1, hr.rsnode.rsnode2, hr.rsnode.rsnode3, hr.rsnode.rsnode4,hr.rsnode.rsnode5,hr.rsnode.rsnode6, hr.rsnode.rsnode7, hr.rsnode.rsnode8, hr.rsnode.rsnode9, hr.rsnode.rsnode10,hr.rsnode.rsnode11{
    top: 305px;
    transform: rotateZ(270deg);
    left: 330px;
}

hr.rsnode.rsnode11 {
    left: 380px;
}

hr.rsnode.rsnode10 {
    left: 424px;
}
hr.rsnode.rsnode9 {
    left: 468px;
}
hr.rsnode.rsnode8 {
    left: 513px;
}
hr.rsnode.rsnode7 {
    left: 557px;
}
hr.rsnode.rsnode6 {
    left: 601px;
}
hr.rsnode.rsnode5 {
    left: 645px;
}

hr.rsnode.rsnode4 {
    left: 691px;
}
hr.rsnode.rsnode3 {
    left: 734px;
}
hr.rsnode.rsnode2 {
    left: 779px;
}
hr.rsnode.rsnode1 {
    left: 820px;
}



/* A.J. */
hr.rsvline.rsvline0 {
    left: 822px;
} 

hr.rsvline.rsvline2 {
    left: 382px;
}
hr.rsvline.rsvline3 {
    left: 426px;
}

hr.rsvline.rsvline4 {
    left: 470px;
}

hr.rsvline.rsvline5 {
    left: 515px;
}

hr.rsvline.rsvline6 {
    left: 559px;
}

hr.rsvline.rsvline7 {
    left: 603px;
}

hr.rsvline.rsvline11 {
    left: 781px;
}

hr.rsvline.rsvline10 {
    left: 737px;
}

hr.rsvline.rsvline9 {
    left: 693px;
}

hr.rsvline.rsvline8 {
    left: 648px;
}


hr.bqvline.bqvline0 {
    left: 336px;
}

hr.bqvline.bqvline2 {
    left: 381px;
}

hr.bqvline.bqvline3 {
    left: 425px;
}

hr.bqvline.bqvline4 {
    left: 470px;
}

hr.bqvline.bqvline5 {
    left: 514px;
}

hr.bqvline.bqvline6 {
    left: 558px;
}

hr.bqvline.bqvline7 {
    left: 603px;
}

hr.bqvline.bqvline8 {
    left: 647px;
}

hr.bqvline.bqvline9 {
    left: 692px;
}

hr.bqvline.bqvline10 {
    left: 737px;
}

hr.bqvline.bqvline11 {
    left: 782px;
}

hr.bqvline.bqvline1 {
    left: 826px;
}

hr.bqnode0, hr.bqnode1, hr.bqnode2, hr.bqnode3, hr.bqnode4, hr.bqnode5, hr.bqnode6, hr.bqnode7, hr.bqnode8, hr.bqnode9, hr.bqnode10, hr.bqnode11 {
    transform: rotateZ(90deg);
    top: 470px;
    left: 333px;
}

hr.bqnode.bqnode1 {
    left: 378px;
}

hr.bqnode.bqnode2 {
    left: 422px;
}

hr.bqnode.bqnode3 {
    left: 467px;
}

hr.bqnode.bqnode4 {
    left: 512px;
}

hr.bqnode.bqnode5 {
    left: 555px;
}

hr.bqnode.bqnode6 {
    left: 601px;
}

hr.bqnode.bqnode7 {
    left: 644px;
}

hr.bqnode.bqnode8 {
    left: 689px;
}

hr.bqnode.bqnode9 {
    left: 734px;
}

hr.bqnode.bqnode10 {
    left: 779px;
}

hr.bqnode.bqnode11 {
    left: 823px;
}

hr.cnode.cnode0 {
    top: 338px;
    left: 846px;
}

p.index.sID0 {
    top: 66px;
    left: 12px;
    z-index: 2;
}

p.index.sID1 {
    top: 66px;
    left: 59px;
    z-index: 2;
}

p.index.sID2 {
    top: 66px;
    left: 105px;
    z-index: 2;
}

p.index.sID3 {
    top: 66px;
    left: 148px;
    z-index: 2;
}

p.index.sID4 {
    top: 66px;
    left: 193px;
    z-index: 2;
}

p.index.sID5 {
    top: 66px;
    left: 237px;
    z-index: 2;
}

p.index.sID6 {
    top: 66px;
    left: 282px;
    z-index: 2;
}

p.index.sID7 {
    top: 66px;
    left: 325px;
    z-index: 2;
}

p.index.sID8 {
    top: 66px;
    left: 369px;
    z-index: 2;
}

p.index.sID9 {
    top: 66px;
    left: 412px;
    z-index: 2;
}

p.index.sID10 {
    top: 66px;
    left: 458px;
    z-index: 2;
}

p.index.sID11 {
    top: 66px;
    left: 501px;
    z-index: 2;
}

p.index.bqID0 {
    top: 0px;
    left: 12px;
    z-index: 2;
}

p.index.bqID1 {
    top: 0px;
    left: 59px;
    z-index: 2;
}

p.index.bqID2 {
    top: 0px;
    left: 105px;
    z-index: 2;
}

p.index.bqID3 {
    top: 0px;
    left: 148px;
    z-index: 2;
}

p.index.bqID4 {
    top: 0px;
    left: 193px;
    z-index: 2;
}

p.index.bqID5 {
    top: 0px;
    left: 237px;
    z-index: 2;
}

p.index.bqID6 {
    top: 0px;
    left: 282px;
    z-index: 2;
}

p.index.bqID7 {
    top: 0px;
    left: 325px;
    z-index: 2;
}

p.index.bqID8 {
    top: 0px;
    left: 369px;
    z-index: 2;
}

p.index.bqID9 {
    top: 0px;
    left: 412px;
    z-index: 2;
}

p.index.bqID10 {
    top: 0px;
    left: 458px;
    z-index: 2;
}

p.index.bqID11 {
    top: 0px;
    left: 501px;
    z-index: 2;
}

hr.shline {
    top: 526px;
    left: 217px;
    width: 753px;
}

hr.svline.svline1 {
    left: 339px;
}

hr.svline.svline2 {
    left: 464px;
}

hr.svline.svline3 {
    left: 590px;
}

hr.svline.svline4 {
    left: 714px;
}

hr.svline.svline5 {
    left: 856px;
}

hr.snode.snode0, hr.snode.snode0, hr.snode.snode1,hr.snode.snode2,hr.snode.snode3,hr.snode.snode4,hr.snode.snode5{
    top: 552px;
    transform: rotateZ(270deg);
    left: 330px;
}

hr.snode.snode0 {
    left: 214px;
}

hr.snode.snode1 {
    left: 337px;
}

hr.snode.snode2 {
    left: 462px;
}

hr.snode.snode3 {
    left: 588px;
}

hr.snode.snode4 {
    left: 711px;
}

hr.snode.snode5 {
    left: 854px;
}

/* A.J. */

.osPROP{
    width: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div#operatingSystem {
    position: absolute;
    width: 825px;
    height: 99px;
    top: 645px;
    left: 175px;
}

.os-part-holder {
    margin-left: 30px;
    display: inline-block;
    font-size: 14px;
}

.active{
    color: #03a9f4;
}


/*new css*/
button#generateJob {
    right: 16%;
    background-color: #e91e63;
    filter: none;
    color: #ffffff;
    border-radius: 2px;
}
img#Startsim {
    left: 3%;
    width: 40px;
    position: absolute;
    top: 25px;
    cursor: pointer;
}

button#createJob {
    right: 3%;
    filter: none;
    border-radius: 2px;
}

#finish {
    top: 460px;
    left:30px;
    background-color: #04AA6D;
    width: 170px;
    height: 60px;
}

label#timeslicelabel, #interruptTimelabel {
    position: absolute;
    left: 220px;
    top: 33px;
    color: #9ea4ab;
}

input#timeslicevalue, #interruptTimevalue {
    width: 30px;
    left: 310px;
    position: absolute;
}

label#interruptTimelabel {
    left: 380px;
}

input#interruptTimevalue {
    left: 500px;
}